
.form-handling{
    margin-left: 70px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px 50px; 
    padding-right: 180px;
    
}

.customer-details-card h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: 500;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.inputs-width{
    margin-bottom: 15px;
}

.inputs-width label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 0.9rem;
}

.inputs-width input {
  width: 175%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.inputs-width select {
  width: 325%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.inputs-width-2{
   margin-bottom: 15px;
}

.inputs-width-2 label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  margin-top: -1rem;
  color: #333;
  font-size: 0.9rem;
}

.inputs-width-2 input {
  width: 130%;
  padding: 08px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.inputs-width-3{
    margin-bottom: 15px;
}

.inputs-width-3 label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  margin-top: -1rem;
  margin-left: 1.2rem;
  color: #333;
  font-size: 0.9rem;
}

.inputs-width-3 select{
  width: 150%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  margin-left: 1.2rem;
}

.inputs-width-4{
    margin-bottom: 15px;
}

.inputs-width-4 label {
  font-weight: 500;
  display: block;
  margin-bottom: 7px;
  margin-top: -1rem;
  margin-left: 2rem;
  color: #333;
  font-size: 0.9rem;
}

.inputs-width-4 input{
  width: 150%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  margin-left: 2rem;
}

.inputs-width-5{
    margin-bottom: 15px;
}

.inputs-width-5 label {
  font-weight: 500;
  display: block;
  margin-bottom: 7px;
  margin-top: -1rem;
  margin-left: 2rem;
  color: #333;
  font-size: 0.9rem;
}

.inputs-width-5 input{
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  margin-left: 2rem;
}

.inline-1{
    display: flex;
    gap: 11rem;
    margin-bottom: 1rem;
}

.inline-2{
    display: flex;
    gap: 4rem;
}

.inline-3{
    display: flex;
    gap: 4rem;
    margin-top: 2rem;
}

.select-input{
    width: 122%
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 122%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.submit-button {
  background-color: #ff6f61;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #e65c50;
}

.star{
    color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.address label{
  display: flex;
}

